.bg-about {
	background: url("../img/bg-3.png") no-repeat center / cover;
}

.about {
	color: $secondary-color;

	&__title {
		padding: 10rem 0 8rem 0;
		
		@media (max-width: $width-small) {
			padding: 5rem 0;
		}
	}

	&__main-flex {
		column-gap: 1rem;
		justify-content: space-around;
		row-gap: 11rem;

		@media (max-width: $width-small) {
			row-gap: 4rem;
		}
	}

	&__flex-item {
		max-width: 31.74rem;

		@media (max-width: $width-middle) {
			max-width: 40%;
		}

		@media (max-width: $width-small) {
			max-width: 85%;
		}
	}

	&__flex-img {
		height: 6.4rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__flex-text {
		padding: 2rem 0 0 0;
		font-family: $ff-alt;
		@include fz-lh-fw (1.6rem, 2.4rem, 700);
	}

	&__footer {
		padding: 11rem 0 0 0;

		@media (max-width: $width-small) {
			padding: 4rem 0 0 0;
		}

		p {
			display: inline-block;
			font-family: $ff-alt;
			@include fz-lh-fw (1.4rem, 2rem);
			color: #a291a5;
			max-width: 70%;

			@media (max-width: $width-middle) {
				max-width: 95%;
			}
		}
	}

	&__footer-line {
		display: inline-block;
		width: 65%;
		height: 0.2rem;
		background-color: #645766;
		margin: 2rem 0 0 0;
	}
}
