
.buy {

  background: url("../img/bg-4.png") no-repeat center / cover;
  color: $secondary-color;
  padding: 11.5rem 0 0 0;

  &__pricing {
    display: grid;
    grid-template-columns: 22% 22% 29% 22%;
    grid-gap: 1.5%;
    align-items: center;
    justify-content: center;
    padding: 6rem 0 10rem;
    margin: 0 auto;

  }

  @media (max-width: $width-middle) {

    padding: 9rem 0 0 0;

    &__pricing {
      grid-template-columns: repeat(2, minmax(21.8rem, 30rem));
      grid-column-gap: 2.5rem;
      grid-row-gap: 3rem;
    }
  }

  @media (max-width: $width-small) {

    padding: 1.5rem 0 0 0;

    &__pricing {
      grid-template-columns: 30rem;
      grid-gap: 1.8rem;
      padding: 6rem 0 3rem;
    }
  }

}

.plan {

  width: 100%;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.06);

  &__title {
    background-color: rgba(255, 255, 255, 0.11);
    @include fz-lh-fw(2.4rem, 2.4rem);
    padding: 3.6rem 0;
    width: 100%;
  }

  & span {
    display: inline;
    width: 50%;
    font-size: 6rem;
  }

  &__price {
    padding: 3rem 0 0 0;
  }

  &__value {
    font-weight: 700;
  }

  &__period {
    font-size: 1.4rem;
    padding: 2rem 0 0 0;
  }

  &__period::after {
    content: '';
    display: block;
    width: 6rem;
    height: 0.5rem;
    background-color: $brand-color;
    margin: 3.7rem auto;
  }

  &__licensing {
    @include fz-lh-fw(1.6rem, 1.8rem);
    min-height: 8rem;
    text-transform: capitalize;
  }

  &__btn {
    margin: 0 0 4rem 0;
    padding: 1.5rem 3.7rem;
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 1.5rem;

  }

  &.active {
    width: 100%;
    background-color: rgba(27, 19, 28, 0.3);
  }

  &.active &__title {
    background-color: rgba(27, 19, 28, 0.4);
    padding: 4.3rem 0;
  }

  &.active &__price span {
    font-size: 8.2rem;
  }

  &.active &__period::after {
    margin: 4.3rem auto;
  }

  @media (max-width: $width-middle) {

    max-width: 92%;

    &.active {
      max-width: 100%;
    }

    &:nth-child(odd) {
      justify-self: end;
    }

    &:nth-child(even) {
      justify-self: start;
    }

  }

  @media (max-width: $width-small) {

    min-width: 25.7rem;

    &:nth-child(odd),
    &:nth-child(even) {
      justify-self: center;
    }

    &.active {
      min-width: 30rem;
    }

  }

}