.grid {
	display: grid;
	grid-template-columns: 0px max-content 1fr max-content;
	justify-content: space-between;

	&__itm-logo {
		order: 1;
	}

	&__itm-nav {
		order: 2;
	}

	&__itm-btn {
		order: 3;
	}
}

@media (max-width: $width-middle) {
	.grid {
		grid-template-columns: 0px 1fr 1fr;
		grid-auto-flow: row;

		@media (max-width: $width-small) {
			grid-template-columns: repeat(3, 1fr);
		}

		&__itm-logo {
			order: 1;
		}

		&__itm-nav {
			grid-column: 1 / span 3;
			order: 3;
		}

		&__itm-btn {
			order: 2;
			justify-self: end;

			@media (max-width: $width-small) {
				justify-self: center;
			}
		}

		&__itm-burger {
			@media (max-width: $width-small) {
				order: 3;
				justify-self: end;
			}
		}
	}

	.header__nav {
		justify-content: center;
		margin-top: 2.3rem;
	}
}

