.bg-header {
	background: url("../img/bg-1.png") no-repeat center / cover;
}

.bg-midl-width {
	@media (max-width: $width-middle) {
		position: absolute;
		background-color: #27262a;
		width: 100%;
		height: 13rem;
	}
}

.header {
	padding: 3.1rem;

	@media (max-width: $width-small) {
		padding: 3.1rem 0 3.1rem 0;
	}

	&__logo {
		z-index: 11;
		:hover {
			filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(47deg) brightness(101%)
				contrast(101%);
		}
	}

	&__itm {
		display: flex;

		& p {
			font-family: $ff-alt;
			@include fz-lh-fw (2.4rem, 1.6rem, 700);
			text-transform: uppercase;
			align-self: center;
			padding-left: 1.7rem;
			color: $brand-color;

			@media (max-width: $width-small) {
				display: none;
			}
		}
	}

	&__nav {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		color: $brand-color;
		z-index: 11;

		@media (max-width: $width-small) {
			display: none;
			color: $secondary-color;
			max-height: 10px;
		}
	}

	&__list {
		display: flex;
		text-align: left;
		align-items: center;

		:hover {
			color: $secondary-color;
		}

		@media (max-width: $width-middle) {
			column-gap: 2.5rem;
		}
	}

	&__item {
		margin: 0 2.3rem 0 0;
		@include fz-lh-fw (1.6rem, 1.5rem, 700);
	}

	&__btn-small {
		@include fz-lh-fw (1.6rem, 1.6rem, 700);
		padding: 1.2rem 3.5rem 1.1rem 3.5rem;
		z-index: 22;
	
		&:hover {
			background-color: $secondary-color;
			color: $brand-color;
		}
	
		@media (max-width: $width-small) {
			padding: 1.2rem 1.2rem 1.1rem 1.2rem;
		}
	}
	

	&__title {
		@include fz-lh-fw (8.2rem, 8.2rem, 700);
		padding: 12.6rem 0 0 0;
		color: $secondary-color;

		@media (max-width: $width-middle) {
			@include fz-lh-fw (7.2rem, 7.2rem, 700);
		}

		@media (max-width: $width-small) {
			@include fz-lh-fw (4.8rem, 4.8rem, 700);
			padding: 5rem 0 0 0;
		}
	}

	&__sub-title {
		font-family: $ff-alt;
		@include fz-lh-fw (3rem, 3rem);
		padding: 2rem 0 0 0;
		color: $brand-color;

		@media (max-width: $width-middle) {
			@include fz-lh-fw (2.4rem, 2.4rem);
		}

		@media (max-width: $width-small) {
			font-family: $ff-main;
			@include fz-lh-fw (1.8rem, 2.4rem);
			text-transform: capitalize;
		}
	}

	&__text {
		@include fz-lh-fw (1.6rem, 1.6rem);
		text-transform: uppercase;
		padding: 2rem 0 0 0;
		color: #848e97;

		@media (max-width: $width-middle) {
			@include fz-lh-fw (1.4rem, 1.4rem);
		}
	}

	&__btn-download {
		padding: 2.3rem 6rem;
		margin: 42rem 0 0 0;
		@include fz-lh-fw (2.1rem, 2.2rem, 700);
		border: .2rem solid $brand-color;
		display: inline-block;
		position: relative;
		top: 30px;

		&:hover {
			background-color: $secondary-color;
			color: $brand-color;
		}

		@media (max-width: $width-small) {
			@include fz-lh-fw (1.8rem, 2rem);
			padding: 1.5rem 3rem;
		}
	}
}


.btn-sub-text {
	text-align: center;
	padding: 5rem 0 0 0;
	@include fz-lh-fw (1.4rem, 1.5rem);
	color: #848e97;
}


