@media (max-width: $width-small) {
	.header {
		&__burger {
			display: block;
			position: relative;
			width: 4.4rem;
			height: 3.7rem;

			span {
				position: absolute;
				width: 2.6rem;
				height: 0.3rem;
				background-color: $secondary-color;
				left: 1.3rem;
				border-radius: 0.5rem;
				transition: all 0.3s ease;

				&:nth-child(1) {
					top: 2.5rem;

					@at-root .active#{&} {
						transform: rotate(45deg);
						top: 50%;
					}
				}

				&:nth-child(2) {
					width: 1.5rem;
					left: 2.4rem;
					top: 1.2rem;

					@at-root .active#{&} {
						display: none;
					}
				}

				&:nth-child(3) {
					bottom: 1.6rem;

					@at-root .active#{&} {
						transform: rotate(-45deg);
						top: 50%;
					}
				}
			}
		}

		&__menu {
			display: block;
			top: 10.6rem;
			opacity: 0;
			width: 29rem;
			transition: all 0.5s ease;
			height: 38rem;

			@at-root .active#{&} {
				opacity: 1;
			}
		}

		&__list {
			display: block;
			width: 100%;
			position: absolute;
			right: 1.25rem;
			width: 30rem;
			margin-top: 3.5rem;
		}

		// ------------------------

		&__item {
			display: none;
			position: relative;
			padding: 2.9rem 0 0 3.4rem;
			margin: 0 0 0 0;
			height: 0;
			@include fz-lh-fw (2.6rem, 2.6rem);
			background-color: #333333;
			color: $secondary-color;
			border: 1px solid #3b3b3b;
			transition: all 0.4s ease;

			@at-root .active#{&} {
				height: 6.1rem;
				display: block;
			}

			&:active,
			&:focus {
				color: $brand-color;

				&::after {
					content: "";
					width: 0.8rem;
					height: 5rem;
					background-color: $brand-color;
					top: 2rem;
					left: 0.1rem;
					position: absolute;
				}
			}
		}
	}
}
