.overview {

  .overview-header {

    padding: 7rem 15%;

    & span {
      display: inline-block;
      padding: 2rem 1rem 0 0;

    }

    & h2 {
      @include fz-lh-fw(5.4rem, 7.4rem, 700);
      color: #635C73;
    }

    & p {
      font-family: $ff-alt;
      @include fz-lh-fw(2.1rem, 3.2rem);
      color: #323232;
      padding: 3.5rem 0 1.5rem 0;
    }

  }

  .overview-advantages {

    background-color: #F4F4F4;

    &__grid {
      max-width: 138rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: column;
      margin: 0 auto;
      padding: 9.5rem 0 7rem 0;
    }

    &__item {
      display: flex;
      flex-direction: row;
      text-align: start;
      padding: 0 7% 3.5rem;

      h4 {
        @include fz-lh-fw(1.6rem, 2.1rem);
        color: #323232;
      }

      p {
        @include fz-lh-fw(1.4rem, 2.1rem);
        color: #848E97;
        padding: 1.6rem 0 0 0;
      }

    }

    &__image {
      width: 25%;
      object-fit: contain;
      align-self: flex-start;
    }

    &__text {
      width: 75%;
    }

    &__title {
      color: $brand-color;
    }

    &__banner {
      grid-row: 2 / span 3;
      overflow-x: hidden;

      img {
        display: block;
        object-fit: contain;
        max-width: 100%;
      }
    }

  }

  @media (max-width: $width-middle) {

    .overview-header {

      & h2 {
        @include fz-lh-fw(4.2rem, 4.2rem, 700);
      }

    }

    .overview-advantages {

      background-color: $secondary-color;

      &__grid {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        padding: 0 0 7rem 0;
      }

      &__title {
        order: 1;
        text-align: center;
        padding: 0 2rem 5rem;
      }

      &__item {
        order: 2;
      }

      &__banner {
        grid-row: initial;
        order: 3;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;

        img {
          max-width: 95%;
        }
      }
    }

  }

  @media (max-width: $width-small) {

    .overview-header {

      & h2 {
        @include fz-lh-fw(2.6rem, 2.8rem, 700);
      }

      & p {
        @include fz-lh-fw(1.4rem, 2rem);
      }

    }
    .overview-advantages {

      &__item {
        flex-wrap: wrap;
      }

      &__image {
        width: 100%;

        img {
          display: block;
          margin: 0 auto;
        }
      }

      &__text {
        width: 100%;
        text-align: center;

        h4 {
          padding: 2.5rem 0 0 0;
        }
      }

      &__banner {
        position: relative;
        min-width: 32rem;
        min-height: 33.7rem;

        img {
          min-width: $width-small;
          padding: 0 0 0 5%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

    }
  }

}
