@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700);
@import url(https://fonts.googleapis.com/css?family=Lato:regular,700italic);

// we using max-width in project
$width-small: 480px;
$width-middle: 992px;

$ff-main: 'Montserrat', sans-serif;
$ff-alt: 'Lato', sans-serif;

$brand-color: #8D81AC;
$secondary-color: #fff;