html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: $ff-main;
	font-weight: 400;
	min-width: 32rem;
	user-select: none;

	h3 {
		font-size: 4.8rem;
		line-height: 5rem;
		font-weight: 700;

		@media (max-width: $width-middle) {
			font-size: 4.2rem;
			line-height: 4.4rem;
		}

		@media (max-width: $width-small) {
			font-size: 3.2rem;
			line-height: 3.8rem;
		}
	}
}

.container {
	max-width: 118rem;
	padding: 0 1rem;
	margin: 0 auto;
	text-align: center;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.btn {
	border-radius: 40px;
	color: white;
	background-color: #8d81ac;
	box-sizing: border-box;
}